.content {
  line-height: 29px;
  margin-top: 30px;
}

@media screen and (max-width: 600px) {
  .content {
    margin-top: 12px;
  }

  .icon {
    font-size: 50px;
    cursor: pointer;
    transition: 0.3s;
  }
  
  .icon:hover {
    color: var(--element3);
  }
}
